#feature-icon .icon-preview {
  display: block;
  font-size: 5em;
  text-align: center;
  padding: 0.3em 0;
}
#feature-icon select {
  width: 100%;
  overflow: auto;
}
.column-icon .icon-preview {
  font-size: 3em;
}
